/* .detail-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.detail-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}

.detail-container h2 {
  margin-top: 12px;
}

.price {
  color: green;
  font-weight: bold;
} */
